<!doctype html>
<html ng-app="schedully">
  <head>
    <meta charset="utf-8">
    <title>schedully</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body style="padding: 15px">
    <div ng-controller="MainController as main" layout="row" layout-align="center">
      <div layout="column" layout-align="center">
        <div>
          <md-checkbox ng-model="main.selectNearest" ng-change="main.refreshSchedule()">
            Ближайший пункт
          </md-checkbox>
          <md-select ng-model="main.locationFrom"
                     ng-change="main.refreshSchedule()"
                     ng-disabled="main.selectNearest">
            <md-option ng-value="location" ng-repeat="location in main.appDB.locations">
              {{location.name}}
            </md-option>
          </md-select>
          <md-select ng-model="main.locationTo"
                     ng-change="main.refreshSchedule()">
            <md-option ng-value="schedule.to" ng-repeat="schedule in main.locationFrom.schedules">
              {{schedule.to}}
            </md-option>
          </md-select>
          <div flex>
            <div layout="row">
              <div class="md-display-2" flex="20">
                {{main.timeToClosest | date:"mm:ss"}}
              </div>
              <div align="right" flex layout="column">
                <table>
                  <tr>
                    <td>Дистанция:</td><td>{{main.distance || "n/a"}} м</td>
                  </tr>
                  <tr>
                    <td>ETA:</td><td>{{(main.approximateArivalTime  | date:"mm:ss") || "n/a"}}</td>
                  </tr>
                  <tr>
                    <td>Скорость:</td><td>{{main.currentPosition.coords.speed || "n/a"}} м/с</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div layout="row">
              <div flex="40">Время</div>
              <div flex="30">Следующий через (минут)</div>
              <div >Осталось</div>
          </div>
        </div>
        <md-content layout-padding style="height: 400px;" flex>
          <div ng-repeat="time in main.closestTimes" layout="row">
            <div flex="33">{{time.at | date:"HH:mm"}}</div>
            <div flex="33">{{time.nextAfterMinutes}}</div>
            <div am-time-ago="time.at"></div>
          </div>
        </md-content>
      </div>
    </div>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
